# gradle
/.gradle/
/*/.gradle/
/gradle/
/*/gradle/
gradlew
gradlew.bat

/.build/
/*/.build/
/build/
/*/build/
/out/
/run/

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
.classpath
.project